body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
  }
  
  h1 {
    color: #333;
  }
  
  form {
    margin-bottom: 20px;
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px #ccc;
  }
  
  input, button {
    margin: 5px;
    padding: 5px;
  }
  
  button {
    cursor: pointer;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 5px;
    transition: 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background: white;
    margin: 5px 0;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  